<!DOCTYPE HTML>

<head>
  {% include 'header.html' %}
  <section id="banner" style="background-image: url(&quot;../../images/IMG_1028.JPG&quot;);">
		<div class="content">
			<header>
				<h2>404: That's an error!</h2>
					<p>Hey there, it's us, the <del>underpaid</del> website developers!</p>
          <p>For some reason, you just tried to go to a page that doesn't exist. If you didn't type it wrong, it might be a broken link or something. Sorry about that. No worries though, just use our website menu to go back to where you came from! Or instead, you could also try one of these very satisfying buttons. Please don't fire us.</p>
          <br>
          <ul class="actions right">
							<li><a href="/" class="button primary">Go Home</a></li>
							<li><a class="button">Do Literally Nothing</a></li>
					</ul>
			</header>
		</div>
	</section>
  
{% include 'footer.html' %}
{% include 'scripts.html' %}

</body>