<!DOCTYPE HTML>

<html>
	<head>
		{% include 'header.html' %}

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>About Us</h2>
							<p>Let's talk! Reach us online through email or through social media.<br> 
                Our department will be happy to reply as soon as possible.</p>
						</header>
          
          <!-- Section -->

						<div class="row gtr-150">
							<div class="col-9 col-12-medium">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2874.7281183115165!2d-79.44181038488568!3d43.90289744426687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2a70f89e3965%3A0xd82e829e2413ca8b!2s201%20Yorkland%20St%2C%20Richmond%20Hill%2C%20ON%20L4S%201A2!5e0!3m2!1sen!2sca!4v1630958201254!5m2!1sen!2sca" width=100% height=100% style="border:0;" allowfullscreen="" loading="lazy" style="box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);"></iframe>
							</div>
							<div class="col-3 col-12-medium">
                <br>
                <a href = "https://www.youtube.com/channel/UCcZbGquvFm0O6h9zRGcBrzg" target= "_blank"><img src ="images/YouTube.png" class="image fit" alt="YouTube" width=50% height=auto><a/>

                <a href = "https://www.instagram.com/rhhs.music/" ><img src ="images/Instagram.png" class="image fit" alt="Instagram" width=50% height=auto><a/>

                <a href = "musco.rhhs@gmail.com" ><img src ="images/Email.png" class="image fit" alt="Email"width=50% height=auto><a/>
							</div>
						</div>
					</div>
				
      
						
				</div>

			<!-- Footer -->
				{% include 'footer.html' %}

		<!-- Scripts -->
			{% include 'scripts.html' %}

	</body>
</html>