<!DOCTYPE HTML>

<html>

<head>
	{% include 'header.html' %}

		<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Music Courses</h2>
						<!--	<p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p> -->
						</header>
            
            <!-- Section -->
						<section>	
							<div class="row">
								<div class="col-6 col-12-xsmall">
                  <h3>Instrumental</h3>
								  <p>This course emphasizes the creation and performance of instrumental music at a level consistent with previous experience and is aimed at developing technique, sensitivity, and imagination. Students will develop musical literacy skills by using the creative and critical analysis processes in composition, performance, and a range of reflective and analytical activities. Students will develop an understanding of the conventions and elements of music and of safe practices related to music, and will develop a variety of skills transferable to other areas of their life.</p>

                  <ul>
									  <li>GRADE 09 Instrumental Music - AMI 101</li>
  									<li>GRADE 10 Instrumental Music - AMI 201</li>
  									<li>GRADE 11 Instrumental Music -  AMI 3M1</li>
  									<li>GRADE 12 Instrumental Music - AMI 4M1</li>
  								</ul>
                </div>
                <div class="col-6 col-12-xsmall">
                  <br>
                  <img src="images/instrumental5.jpg" class = "fit image" alt="" />
                  <br><br>
                </div>
						  </div>
            </section>
            <hr>
            
            <section>	
							<div class="row">
								<div class="col-6 col-12-xsmall">
                  <br><br>
                  <h3>Vocal</h3>
								  <p>This course introduces the student to the study of vocal music. Methods of tone production, warm-up and sight singing will accompany the repertoire studies in class. Performance will be emphasized and no previous experiences are necessary.</p>

                  <ul>
									  <li>GRADE 09 Vocal/Choral Music - AMV 101</li>
									  <li>GRADE 10 Vocal/Choral Music - AMV 201</li>
								  	<li>GRADE 11 Vocal/Choral Music - AMV 3M1</li>
								  	<li>GRADE 12 Vocal/Choral Music - AMV 4M1</li>
  								</ul>
                </div>
                <div class="col-6 col-12-xsmall">
                  <br>
                  <img src="images/vocal1.jpg" class = "fit image" alt="" />
                  <br>
                </div>
						  </div>
            </section>
            <hr>

            <section>	
							<div class="row">
								<div class="col-6 col-12-xsmall">
                  <br>
                  <h3>Repertoire</h3>
								  <p>This course emphasizes the performance of music at a level that strikes a balance between challenge and skill and is aimed at developing technique, sensitivity, and imagination. Students will participate in creative activities that teach them to listen with understanding. They will also learn correct musical terminology and its appropriate use.</p>

                  <ul>
									  <li>GRADE 09 Repertoire - AMR 101</li>
								  	<li>GRADE 10 Repertoire - AMR 201</li>
								  	<li>GRADE 11 Repertoire - AMR 3M1</li>
								  	<li>GRADE 12 Repertoire - AMR 4M1</li>
  							  </ul>
                </div>
                <div class="col-6 col-12-xsmall">
                  <br>
                  <img src="images/instrumental8.jpg" class = "fit image" alt="" />
                </div>
						  </div>
            </section>
          </div>

			<!-- Footer -->
				{% include 'footer.html' %}

		</div>

		<!-- Scripts -->
			{% include 'scripts.html' %}

	</body>
</html>