<!DOCTYPE HTML>

<html>
  {% include 'header.html' %}
  
  <section id="banner" style="background-image: url(&quot;../../images/IMG_1028.JPG&quot;);">
		<div class="content">
			<header>
				<h2>Welcome back, alumni!</h2>
          <p>We're so happy to see you again!</p>
          <p>Since this website is fairly new, we don't quite have a way to verify if you're telling the truth or not, so here's how it's gonna work — join as a visitor for now, then once you're in, DM a staff member to prove you're really an alumni by telling them something that only a true RHHS Music alumni would know. If everything checks out, we'll be so glad to have you back!</p>
          <br>
          <ul class="actions right">
							<li><a href="/discord/visitor" class="button primary">Join as a visitor</a></li>
              <li><a href="/" class="button">Never mind</a></li>
					</ul>
			</header>
		</div>
	</section>
  

  {% include 'footer.html' %}
  {% include 'scripts.html' %}
</body>