<!DOCTYPE HTML>

<html>
  {% include 'header.html' %}
  
  <section id="banner" style="background-image: url(&quot;../../images/IMG_1028.JPG&quot;);">
		<div class="content">
			<header>
				<h2>Join our official Discord server!</h2>
          <p>We're so glad you're interested in joining!</p>
          <p>However, because of security and stuff, we just have to make sure you're not trying to get us fired, so please bear with us as we go through this quick verification process. First off, what's your relationship with RHHS Music like right now? (No cheating or shady affairs, I hope.)</p>
          <br>
          <ul class="actions right">
							<li><a href="/discord/step1" class="button primary">I'm a student</a></li>
							<li><a href="/discord/visitor" class="button">I'm a visitor</a></li>
              <li><a href='/discord/alumni' class='button'>I'm an alumni</a></li>
					</ul>
			</header>
		</div>
	</section>
  

  {% include 'footer.html' %}
  {% include 'scripts.html' %}
</body>