<!DOCTYPE HTML>

<head>
  {% include 'header.html' %}
  
  <section id="banner" style="background-image: url(&quot;../../images/IMG_1028.JPG&quot;);">
		<div class="content">
			<header>
				<h2>Good try...</h2>
				<p>but not good enough.</p>
        <p>It seems like you've just tried to cheat our verification system for Discord. Thankfully, we've thought of this and now we hopefully don't have to get fired. If you're seeing this page for no reason, we're really sorry — please feel free to try again.</p>
        <br>
        <ul class="actions right">
						<li><a href="/discord" class="button primary">Start Over</a></li>
  					<li><a href="/" class="button">Go Home</a></li>
				</ul>
      </header>
    </div>
  </section>

  
{% include 'footer.html' %}
{% include 'scripts.html' %}

</body>