<!DOCTYPE HTML>

<html>

<head>
	{% include 'header.html' %}

    			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>For Students</h2>
							<p>We're so glad you're here!</p>
              <p>Feel free to watch the presentation below for all you need to know! Or maybe instead, press one of these satisfying buttons.</p>
              <ul class="actions special">
								<li><a href="/courses" class="button primary">View Courses</a></li>
								<li><a href="/ensembles" class="button">All About Ensembles</a></li>
							</ul>
						</header>
            <div class='resp-container'>
              <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSR9Kx4HCtzsif694hj7Lq4EoNiPSSBVK9IBBMD62uVRLuLdjXERDyg2KTX2SzByba_DXu-CHK-xHx4/embed?start=false&loop=true&delayms=10000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" class="resp-iframe"></iframe><!--<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSUM3RwSQXOiASPIFRuibtMjQOP1KArKzasT0bDbIMO8l_3uqZoNkTVktwvvssBmbzzv3lHqoHl4siv/embed?start=true&loop=true&delayms=10000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" class="resp-iframe">--></iframe>
            </div>
          </div>
        </div>

	<!-- Footer -->
				{% include 'footer.html' %}

		</div>

		<!-- Scripts -->
			{% include 'scripts.html' %}

	</body>
</html>