
		<title>RHHS Music</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="RHHS Music" />
    <meta property="og:description" content="Welcome to the official RHHS Music website, your go-to place for all things music at RHHS. Let's make music together!" />
    <meta property="og:url" content="https://rhhsmusic.ca" />
    <meta property="og:image" content="https://rhhsmusic.ca/images/swoosh2.png" />
		<link rel= "shortcut icon" type="image/png" href="/images/swoosh1.png"/>
    <link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">RHHS Music</a></h1>
					<nav id="nav">
						<ul>
							<li>
                <a href="/for-students">For Students</a>
                  <ul>
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/ensembles">Ensembles</a></li>
                    <!--<li><a href="/discord">Discord</a></li>-->
                    <!--<li><a href="/faq">FAQ</a></li>-->
                  </ul>
              </li>
              <li>
                <a href="/events">Events</a>
                  <ul>
                    <li><a href="/concerts">Concerts</a></li>
                    <li><a href="/house-events">House Events</a></li>
                  </ul>
              </li>
             <!-- <li>
                <a href="/gallery">Gallery</a>
              </li>-->
              <li>
                <a href="/about-us">About Us</a>
                  <ul>
                    <li><a href="/staff">Staff</a></li>
                    <li><a href="/music-council">Music Council</a></li>
                  </ul>
              </li>
							
						</ul>
					</nav>
				</header>