<!DOCTYPE HTML>

<html>

<head>
	{% include 'header.html' %}

      <!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>House Events</h2>
							<p>RHHS Music hosts monthly team-building exercises in the form of trivia games and competitions. This is an opportunity <br>for students to bond and de-stress outside of the musical arts. See the gallery below for previous house events!</p>
						</header>
            <section>

								<div class="box alt">
									<div class="row gtr-50 gtr-uniform">

										<div class="col-4 col-6-xsmall"><span class="image fit"><img src='images/HOUSE CHAMPIONSHIP KICKOFF.png' alt='House Kickoff'></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src='images/House Trivia.png' alt='House Trivia'></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src='images/Practice Stories.png' alt='Practice Stories'></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src='images/Scavenger Hunt.png' alt='Scavenger Hunt'></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src='images/Nonstop Shop.png' alt='Nonstop Shop'></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src='images/Popsauce.png' alt='Popsauce'></span></div>
									</div>
								</div>
							</section>
        </div>
        </div>
       
       <!-- <div class="grid">
        <div><img src='images/House Kickoff.png' alt='House Kickoff'></div>
        <div><img src='images/House Trivia.png' alt='House Trivia'></div>
        <div><img src='images/Practice Stories.png' alt='Practice Stories'></div>
        
        <div><img src='images/Scavenger Hunt.png' alt='Scavenger Hunt'></div>
        <div><img src='images/Nonstop Shop.png' alt='Nonstop Shop'></div>
        <div><img src='images/Popsauce.png' alt='Popsauce'></div>
      </div> -->
       
			<!-- Footer -->
				{% include 'footer.html' %}

		</div>

		<!-- Scripts -->
			{% include 'scripts.html' %}
   
	</body>
</html>


