<!DOCTYPE HTML>

<html>

<head>
	{% include 'header.html' %}

<!-- Banner -->
  <section id="banner" style="background-image: url(&quot;../../images/group.jpg&quot;);">
    <div class="content">
      <header class="major">
        <h2>Music Council</h2>
        <br>
        <p>Richmond Hill High School believes in empowering students through leadership opportunities and community engagement. <br>Our annually-elected music council is composed of students who have volunteered their time towards the enrichment of our music program for all. <br>Check out our <a href="https://instagram.com/rhhs.music/" target="_blank">Instagram</a> page for our Music Council executive profiles!</p>
        <br>
      </header>
      </div>
      </section>
      <!-- Section --><!--to be finished later
						<section>	
							<div class="row">
								<div class="col-6 col-12-xsmall">
                  <h3 id="center">Co-President</h3>
                </div>
                <div class="col-6 col-12-xsmall">
                  <h3 id="center">Vice President</h3>
                </div>
                </row>
                <div class="row">
								<div class="col-3 col-12-xsmall">
                  <<div class="circular--square">
                    ><img src="images/Pres Amy Wan.jpg"/>
                  </div>
                  <p id="center">Amy Wan</h3>
                </div>
                <div class="col-3 col-12-xsmall">
                  <div class="circular--landscape">
                    <img src="images/Pres Kevin Zhao.jpg" />
                  </div>
                  <p id="center">Kevin Zhao</h3>
                </div>
                <div class="col-3 col-12-xsmall">
                  <div class="circular--landscape">
                    <img src="images/Vp Daniel Collins.jpg" />
                  </div>
                  <p id="center">Daniel Collins</p>
                </div>
                <div class="col-3 col-12-xsmall">
                  <div class="circular--landscape">
                    <img src="images/Vp Katherine Liu.jpg" />
                  </div>
                  <p id="center">Katherine Liu</h3>
                </div>
                </row>
                

							</div> 
              </section>
    </div>-->

		<!-- Main -->
	<!--			<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Music Council</h2>
							<p>Richmond Hill High School believes in empowering students through leadership opportunities and community engagement. Our annually-elected music council is composed of students who have volunteered their time towards the enrichment of our music program for all. </p>
						</header>-->
            
            <!-- Section -->
						<!--<section>	
							<div class="row">
								<div class="col-6 col-12-xsmall">
                  <h3>Holiday Serenade &amp Sounds of Spring</h3>
								  <p>Holiday Serenade &amp Sounds of Spring are our two annual live concerts. Hosted by students and featuring a variety of different musical performances, this is our chance to share our music with the world. Scroll through the <a href="/gallery">Gallery</a> for pictures from past performances or check out our <a href="https://www.youtube.com/channel/UCcZbGquvFm0O6h9zRGcBrzg" target= "_blank">YouTube</a> page for live recordings!</p>

                <br>

                <hr>

                <br>
                <img src="images/photo.JPG" class = "fit image" alt="" />
                <br><br>
                  
                <hr>
                <h3>OBA Competition</h3>
								<p>RHHS Music is a proud participant of the Ontario Band Association’s annual festivals in both band and small ensemble categories. The provincial festival gives students a chance to share their music and receive critical feedback from a panel of accomplished musician judges.</p>

								</div>

								<div class="col-6 col-12-xsmall">
                 
                  <img src="images/photo.JPG" class = "fit image" alt="" />
                  <br><br>
                  
                  <hr>
                <h3>Coffeehouse</h3>
								<p>Coffeehouse is our annual performance for students and by students, held on school premises every spring! Featuring solo performers and chamber groups alike, Coffeehouse is our free-flowing take on a school-wide talent show! If you’re interested, individual performances, as well as 2021’s virtual Coffeehouse, are on our <a href="https://www.youtube.com/channel/UCcZbGquvFm0O6h9zRGcBrzg" target= "_blank">YouTube</a> channel for your viewing pleasure.</p>
                  <br><br>
                  <img src="images/photo.JPG" class = "fit image" alt="" />
								</div>
              </section>

              <section id="four" class="wrapper style1 special fade-up">
					      <div class="container">							      <h3>Activities</h3>
							      <p>Outside of competition and seasonal performances, RHHS Music is proud to host a variety of non-music activities designed to enrich the student experience and build a sense of community within the program. From autumn pumpkin carving and potlucks to gingerbread house building and pro day - browse through all that and more at our virtual <a href="/gallery">Gallery</a>!</p>
							    <ul class="actions special">
								    <li><a href="/gallery" class="button">View Gallery</a></li>
							    </ul>
              </section>-->

			<!-- Footer -->
				{% include 'footer.html' %}

		</div>

		<!-- Scripts -->
			{% include 'scripts.html' %}
	</body>
</html>