<!DOCTYPE HTML>
<html>
  {% include 'header.html' %}

  <div id="main" class="wrapper style1">
    <div class="container">
      <header class="major">
        <h2>Our Staff</h2>
        <p>Quite possibly the best musicians and music educators in the world.</p>
      </header>
    </div>
    
    <div class="container">
       <section>
      <div class="row">
        <div class="col-6 col-12-xsmall">
        <span class="image"><img src="images/christopoulos.jpg" alt="Joanna Christopoulos-Sarganis" width=100%></img></span>
        </div>
        <div class="col-6 col-12-xsmall">
          <header>
          <h3>Joanna Christopoulos-Sarganis</h3>
          <p>Department Head of Music</p>
        </header>
        <p>Ms. Christopoulos-Sarganis is very proud to be part of the music department with a strong music program for the past couple decades.  She has been teaching Vocal and Instrumental Music for 15 years at Richmond Hill High School.  Ms. Christopoulos-Sarganis started off playing piano at the age of five, picked up trumpet, then moved on to playing the glorious French Horn. During this time she also studied voice privately until she majored in it at university.  Ms. Christopoulos-Sarganis is a Mezzo-Soprano who majored in classical voice while completing her Bachelor of Fine Arts in Music and Bachelor of Education at York University.  She was fortunate to study with world-renowned Canadian Mezzo-Soprano Catherine Robbin and Glenn Gould Studio. Some of her performance highlights include taking part in Summer Opera Programs such as The Marriage of Figaro and the Magic Flute.  She currently performs with community ensembles and choirs in the GTA.
        <br>At Richmond Hill High School she directs the Gold Band, Jazz Choir and Show Choir Vocal Fusion. Outside of School, she keeps herself busy with her two energetic children and husband.
</p>
      </section>
    
      <br>
      <section>
      <div class="row">
        <br>
        <br>
        <div class="col-6 col-12-xsmall">
          <header>
            <h3>Cameron Rawlins</h3>
            <p>Music Teacher</p>
          </header>
          <span class="image"><img src="images/rawlins.jpg" alt="Cameron Rawlins" width=100%></img></span>
          <br>
          <p><br>Mr. Rawlins is in his second year of teaching at RHHS, and excited to finally conduct a band in-person! Mr. Rawlins received his Bachelor of Music (Music Education), Bachelor of Education, and Master of Music, specializing in euphonium performance, from the University of Toronto, where he studied euphonium with Curtis Metcalf.</p>
          <p>Mr. Rawlins has had the opportunity to play with some of Canada’s finest ensembles; as the current principal euphonium of the Canadian Staff Band, Mr. Rawlins has both performed and recorded as a euphonium soloist, as well as with the Hannaford Street Silver Band, Canada’s premiere professional brass band. Outside of the brass band world, Mr. Rawlins has had the privilege to premiere a new work by John Beckwith on CBC Radio 2, and perform Strauss’ ‘Ein Heldenleben’ with the Vancouver Symphony Orchestra. In addition to his love of performance, Mr. Rawlins is truly passionate about teaching, and is excited to lead both the Concert Band and Gold Fever at RHHS this year!</p>
        </div>
        <div class="col-6 col-12-xsmall">
          <header>
            <h3>Helen Geng</h3>
            <p>Music Teacher</p>
          </header>
          <span class="image"><img src="images/geng.jpg" alt="Helen Geng" width=100%></img></span>
          <br>
          <p><br>Helen Geng has been with the RHHS Music Department since April 2019. A graduate from the University of Toronto Faculty of Music, Ms. Geng is an avid trumpet player and performs with the Metropolitan Winds of Toronto. She has been a clinician for trumpet and wind band at many schools in the GTA, and for several years, she was a member of the trumpet section and the Personnel Manager of the Toronto Youth Wind Orchestra. Ms. Geng has been an elected member of the TYWO Board of Directors since 2018, currently serving as the chair of the Inclusion, Diversity, Equity and Accessibility (IDEA) Committee. In 2020, Ms. Geng was awarded the Ontario Band Association's Conducting Excellence Award for her work with the RHHS Symphonic Winds.</p>
        </div>
      </section>
    </div>


  {% include 'footer.html' %}
  {% include 'scripts.html' %}

</body>
